.app {
  /* min-width: 100%;
  min-height: 100%; */
  display: grid;
  background-color: #e1e0dd;
  width: 100vw;
  height: 100vh;
  place-items: center;
}

.app-body {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr; */
  /* grid-column-gap: 0px;
  grid-row-gap: 0px; */
  background-color: #ffffff;
  width: 90%;
  height: 90%;
  box-shadow: 4px 4px 4px darkgray;
  grid-template-columns: 35% 65%;
}


.sidebar {
  background-color: #e1e0dd;
  grid-area: 1 / 1 / 2 / 2;
}

.chat{
  background-color: white;
  grid-area: 1 / 2 / 2 / 6;
}

.sidebar-header{
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  background-color: #f0f2f5;
}

.sidebar-header-right svg {
  margin-left: 8px;
}

.search-container {
  margin: 8px;
  background-color: #f0f2f5;
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 7px;
}

.search-container input {
  border: 0px;
  background-color: #f0f2f5;
  outline: none;
}