.chat-item{
    display: grid;
    grid-template-columns: 8px 40px auto;
    margin: 16px 0px;
    overflow: hidden;
    width: 95%;
}

.item-info{
    margin-left: 16px;
    border-bottom: 1px solid #e9edef;

}